.filterName button {
  width:100%;
  background:none;
  border:none;
  text-align:left;
}
.filterResults button {
  position: relative;
  top: -44px;
  right: 0px;
  left: 80%;
}
body .alert-md .alert-wrapper {
  max-width:100%;
  width:400px;
}

.alert-md .alert-head {
    overflow-y: scroll;
    padding: 10px 24px;
    height: 90vh;
}
