<!--
  Generated template for the addFilters page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Add filter</ion-title>
    <ion-buttons end>
      <button (click)="save()" ion-button icon-only>
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label color="dark">Filter name</ion-label>
    <ion-input type="text" placeholder="Filter..." [(ngModel)]="filterName"></ion-input>
  </ion-item>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label color="dark">Trip Type</ion-label>
        <ion-select [(ngModel)]="items.trip_type" (ionChange)="filterChange()" multiple="true" cancelText="Cancel" okText="Okay">
          <ion-option value="drop">Drop</ion-option>
          <ion-option value="trade">Trade</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Operates between
    </ion-card-header>
    <ion-list>
      <ion-list-header class="set-header" no-lines>
        <b>Operates</b>
      </ion-list-header>
      <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" min="2016" [(ngModel)]="items.operates.operates_from" (ionChange)="filterChange()"></ion-datetime>
      </ion-item>
      <ion-item no-lines>
        <ion-label>Time</ion-label>
        <ion-datetime displayFormat="HH:mm" [(ngModel)]="items.operates.operates_from_hm" (ionChange)="filterChange()"></ion-datetime>
      </ion-item>

      <ion-list-header class="set-header" no-lines>
        <b>Until</b>
      </ion-list-header>
      <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" min="2016" [(ngModel)]="items.operates.operates_to" (ionChange)="filterChange()"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Time</ion-label>
        <ion-datetime displayFormat="HH:mm"[(ngModel)]="items.operates.operates_to_hm" (ionChange)="filterChange()"></ion-datetime>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Report and release
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-label>Report day (or logic):</ion-label>
        <ion-select [(ngModel)]="items.report_dow" (ionChange)="filterChange()" multiple="true" cancelText="Cancel" okText="Okay" placeholder="Not chosen">
          <ion-option value="monday">Monday</ion-option>
          <ion-option value="tuesday">Tuesday</ion-option>
          <ion-option value="wednesday">Wednesday</ion-option>
          <ion-option value="thursday">Thursday</ion-option>
          <ion-option value="friday">Friday</ion-option>
          <ion-option value="saturday">Saturday</ion-option>
          <ion-option value="sunday">Sunday</ion-option>
        </ion-select>
      </ion-item>
      <ion-list-header class="set-header" no-lines>
        <b>Reports between:</b>
      </ion-list-header>
      <ion-item>
        <ion-label>Min</ion-label>
        <ion-datetime displayFormat="HH:mm" hourValues="{{ report_release_time_range }}" [(ngModel)]="items.reportBetween.flr_min" (ionChange)="filterChange()"></ion-datetime>
      </ion-item>
      <ion-item no-lines>
        <ion-label>Max</ion-label>
        <ion-datetime displayFormat="HH:mm" hourValues="{{ report_release_time_range }}" [(ngModel)]="items.reportBetween.flr_max" (ionChange)="filterChange()"></ion-datetime>
      </ion-item>
      <ion-list-header class="set-header" no-lines>
        <b>Releases between:</b>
      </ion-list-header>
      <ion-item>
        <ion-label>Min</ion-label>
        <ion-datetime displayFormat="HH:mm" hourValues="{{ report_release_time_range }}" [(ngModel)]="items.releaseBetween.llr_min" (ionChange)="filterChange()"></ion-datetime>
      </ion-item>
      <ion-item no-lines>
        <ion-label>Max</ion-label>
        <ion-datetime displayFormat="HH:mm" hourValues="{{ report_release_time_range }}" [(ngModel)]="items.releaseBetween.llr_max" (ionChange)="filterChange()"></ion-datetime>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label color="dark">Calendar days</ion-label>
        <ion-select [(ngModel)]="items.days" (ionChange)="filterChange()" multiple="true" cancelText="Cancel" okText="Okay" placeholder="Not chosen">
          <ion-option value="1">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
          <ion-option value="4">4</ion-option>
          <ion-option value="5">5</ion-option>
          <ion-option value="6">6</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label color="dark">Number of duty periods</ion-label>
        <ion-select [(ngModel)]="items.duty" (ionChange)="filterChange()" multiple="true" cancelText="Cancel" okText="Okay" placeholder="Not chosen">
          <ion-option value="1">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
          <ion-option value="4">4</ion-option>
          <ion-option value="5">5</ion-option>
          <ion-option value="6">6</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label color="dark">Legs per duty period</ion-label>
      <ion-select [(ngModel)]="items.legsPerDuty.dprow_type" (ionChange)="filterChange()" cancelText="Cancel" okText="Okay">
        <ion-option value="any">Any duty period</ion-option>
        <ion-option value="first">First duty period</ion-option>
        <ion-option value="last">Last duty period</ion-option>
      </ion-select>
    </ion-item>
    <ion-list>
      <ion-item>
        <ion-label>Legs per duty</ion-label>
        <ion-select okText="Okay" cancelText="Dismiss" placeholder="Min" [(ngModel)]="items.legsPerDuty.dprow_min" (ionChange)="filterChange()">
          <ion-option value="1">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
          <ion-option value="4">4</ion-option>
          <ion-option value="5">5</ion-option>
          <ion-option value="6">6</ion-option>
        </ion-select>
        <ion-select okText="Okay" cancelText="Dismiss" placeholder="Max" [(ngModel)]="items.legsPerDuty.dprow_max" (ionChange)="filterChange()">
          <ion-option value="1">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
          <ion-option value="4">4</ion-option>
          <ion-option value="5">5</ion-option>
          <ion-option value="6">6</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Duty time limits
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-label>Min</ion-label>
        <ion-datetime displayFormat="HH:mm" hourValues="{{ duty_period_time_range }}" [(ngModel)]="items.dutyPeriodTime.duty_min" (ionChange)="filterChange()"></ion-datetime>
      </ion-item>
      <ion-item no-lines>
        <ion-label>Max</ion-label>
        <ion-datetime displayFormat="HH:mm" hourValues="{{ duty_period_time_range }}" [(ngModel)]="items.dutyPeriodTime.duty_max" (ionChange)="filterChange()"></ion-datetime>
      </ion-item>
    </ion-list>
  </ion-card>


  <ion-card>
    <ion-card-header>
      Pairing credit limits
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-label>Min</ion-label>
        <ion-datetime displayFormat="HH:mm" hourValues="{{ pairing_credit_range }}" [(ngModel)]="items.pairingCredit.tcr_min" (ionChange)="filterChange()"></ion-datetime>
      </ion-item>
      <ion-item no-lines>
        <ion-label>Max</ion-label>
        <ion-datetime displayFormat="HH:mm" hourValues="{{ pairing_credit_range }}" [(ngModel)]="items.pairingCredit.tcr_max" (ionChange)="filterChange()"></ion-datetime>
      </ion-item>
    </ion-list>
  </ion-card>


  <ion-card>
    <ion-card-header>
      Layover
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-label>Condition</ion-label>
        <ion-select okText="Okay" cancelText="Dismiss" placeholder="Not chosen" [(ngModel)]="items.layover.layover_con" (ionChange)="filterChange()">
          <ion-option value="yes1">(At Least One) Must Be</ion-option>
          <ion-option value="no1">(At Least One) Must NOT Be</ion-option>
          <ion-option value="yes">(ALL) Must Be</ion-option>
          <ion-option value="no">(ALL) Must Not Be</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Dates</ion-label>
        <button (click)="showSetDates(items.layover.layover_dates)" ion-button outline item-right>
          Set dates
          <!-- let's open new modal after lick
          -->
        </button>
      </ion-item>
      <ion-item>
        <ion-label>Airport code:</ion-label>
        <ion-input type="text" [(ngModel)]="items.layover.layover_loc" (ionChange)="filterChange()"></ion-input>
      </ion-item>
      <!-- todo:
      // Date(s) (DDMMYYYY separated by commas).
      // maybe https://github.com/rajeshwarpatlolla/ionic2-datepicker
      -->
      <ion-item no-lines>
        <ion-label>Day(s) of the week</ion-label>
        <ion-select okText="Okay" cancelText="Dismiss" multiple="true" placeholder="Not chosen" [(ngModel)]="items.layover.layover_dow" (ionChange)="filterChange()">
          <ion-option value="monday">Monday</ion-option>
          <ion-option value="tuesday">Tuesday</ion-option>
          <ion-option value="wednesday">Wednesday</ion-option>
          <ion-option value="thursday">Thursday</ion-option>
          <ion-option value="friday">Friday</ion-option>
          <ion-option value="saturday">Saturday</ion-option>
          <ion-option value="sunday">Sunday</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Enforce Layover Min/Max</ion-label>
        <ion-toggle [(ngModel)]="items.layover.layover_range_checkbox" (ionChange)="filterChange()"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="items.layover.layover_range_checkbox">
          <ion-label>Min</ion-label>
          <ion-datetime displayFormat="HH:mm" hourValues="{{ layover_range }}" [(ngModel)]="items.layover.layover_min" (ionChange)="filterChange()"></ion-datetime>
      </ion-item>
      <ion-item *ngIf="items.layover.layover_range_checkbox">
          <ion-label>Max</ion-label>
          <ion-datetime displayFormat="HH:mm" hourValues="{{ layover_range }}" [(ngModel)]="items.layover.layover_max" (ionChange)="filterChange()"></ion-datetime>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Flight
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-label>Pairing must include this flight parameters</ion-label>
        <ion-toggle [(ngModel)]="items.flight.flight_con" (ionChange)="filterChange()"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Flight Number</ion-label>
        <ion-input type="text" [(ngModel)]="items.flight.flight_num" (ionChange)="filterChange()"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Dates</ion-label>
        <button (click)="showSetDates(items.flight.flight_dates)" ion-button outline item-right>
          Set dates
        </button>
      </ion-item>

      <ion-item>
        <ion-label>Day(s) of the week</ion-label>
        <ion-select okText="Okay" cancelText="Dismiss" multiple="true" placeholder="Not chosen" [(ngModel)]="items.flight.flight_dow" (ionChange)="filterChange()">
          <ion-option value="monday">Monday</ion-option>
          <ion-option value="tuesday">Tuesday</ion-option>
          <ion-option value="wednesday">Wednesday</ion-option>
          <ion-option value="thursday">Thursday</ion-option>
          <ion-option value="friday">Friday</ion-option>
          <ion-option value="saturday">Saturday</ion-option>
          <ion-option value="sunday">Sunday</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Last leg from
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-label color="primary">Airport code</ion-label>
        <ion-input placeholder="Enter airport code" [(ngModel)]="items.last_departure_airport" (ionChange)="filterChange()"></ion-input>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label color="dark">Deadhead</ion-label>
        <ion-select [(ngModel)]="items.deadhead" (ionChange)="filterChange()" cancelText="Cancel" okText="Okay">
          <ion-option value="not_required">Not required</ion-option>
          <ion-option value="first">Exists on First Leg</ion-option>
          <ion-option value="last">Exists on Last Leg</ion-option>
          <ion-option value="any">Exists on Any Leg</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label color="dark">Exclude positions</ion-label>
        <ion-select [(ngModel)]="items.position" (ionChange)="filterChange()" multiple="true" cancelText="Cancel" okText="Okay" placeholder="Not chosen">
          <ion-option value="AFA">AFA</ion-option>
          <ion-option value="BFA">BFA</ion-option>
          <ion-option value="CFA">CFA</ion-option>
          <ion-option value="DFA">DFA</ion-option>
          <ion-option value="EFA">EFA</ion-option>
          <ion-option value="GFA">GFA</ion-option>
          <ion-option value="HFA">HFA</ion-option>
          <ion-option value="IFA">IFA</ion-option>
          <ion-option value="JFA">JFA</ion-option>
          <ion-option value="KFA">KFA</ion-option>
          <ion-option value="LFA">LFA</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label color="dark">Exclude equipment</ion-label>
        <ion-select [(ngModel)]="items.equipment" (ionChange)="filterChange()" multiple="true" cancelText="Cancel" okText="Okay" placeholder="Not chosen">
          <ion-option value="5E">B757-EW</ion-option>
          <ion-option value="5H">B757-HW</ion-option>
          <ion-option value="33">A330-300</ion-option>
          <ion-option value="21">A321-L</ion-option>
          <ion-option value="19">A319-L</ion-option>
          <ion-option value="9W">A319-W</ion-option>
          <ion-option value="90">E190-L</ion-option>
          <ion-option value="32">A330-200</ion-option>
          <ion-option value="20">A320-W</ion-option>
          <ion-option value="05">A320-O</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>

<ion-footer class="footer">
  <ion-toolbar>
    <ion-segment [(ngModel)]="footerSegment">
      <ion-segment-button value="potencial">
        Potential
      </ion-segment-button>
      <ion-segment-button value="actual">
        Actual
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <div [ngSwitch]="footerSegment" >
    <ion-list *ngSwitchCase="'potencial'">
      <ion-item>
        <b>Pairing</b> <b>Report</b> <b>Release</b> <b>TCR</b> <b>RON</b>
      </ion-item>
      <ion-scroll scrollY="true">
        <ion-list>
          <ion-list-header *ngIf="potencialItems.length <= 0 && !previewScheduled">
            No pairings found
          </ion-list-header>
          <ion-list-header class="api-requesting-spinner" *ngIf="potencialItems.length <= 0 && previewScheduled">
            <ion-spinner></ion-spinner>
          </ion-list-header>
          <button ion-item *ngFor="let potencial of potencialItems">
            <ion-label>{{potencial.pairing}}  {{potencial.report}} RELEASE TCR {{potencial.ron}} </ion-label>
          </button>
        </ion-list>
      </ion-scroll>
    </ion-list>
    <ion-list *ngSwitchCase="'actual'">
      <ion-item>
        <b>Pairing</b> <b>Report</b> <b>Release</b> <b>TCR</b> <b>RON</b> <b>Comments</b>
      </ion-item>
      <ion-scroll scrollY="true">
        <ion-list>
          <ion-list-header *ngIf="actualItems.length <= 0 && !previewScheduled">
            No pairings found
          </ion-list-header>
          <ion-list-header class="api-requesting-spinner" *ngIf="actualItems.length <= 0 && previewScheduled">
            <ion-spinner></ion-spinner>
          </ion-list-header>
          <button ion-item *ngFor="let actual of actualItems">
            <ion-label>{{actual.pairing_id}}  {{actual.report_date}} RELEASE TCR RON Comments </ion-label>
          </button>
        </ion-list>
      </ion-scroll>
    </ion-list>
  </div>
</ion-footer>
