page-addFilters {
  .set-header {
    margin: 0;
  }
  .footer {
    max-height: 40%;
    height: 250px;
  }
  ion-scroll {
    white-space: nowrap;
    height: 250px;
    background-color: white;
  }
  .api-requesting-spinner {
    text-align: center;
  }
}
